@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
   font-family: "Roboto", sans-serif;
}
#root{
   background-color: white;
   overflow-y: hidden;
   
}
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

.h-83vh{
  height: 82vh;
}
.leaflet-container{
  height: 82vh;
}