@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
   font-family: "Roboto", sans-serif;
}
#root{
   background-color: white;
   overflow-y: hidden;
   
}
.no-scrollbar::-webkit-scrollbar {
   display: none;
}
.top-navbar{
   top: 9vh
}
.h-filter{
   min-height: 56px;
   height: 8vh;
}
.h-navbar{
   min-height: 64px;
   height: 9vh;
}
.h-40vh{
   height: 40vh;
}
.h-83vh{
  height: 83vh;
}
.leaflet-container{
  height: 100%;
}
