@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
   font-family: "Roboto", sans-serif;
}
#root{
   background-color: white;
}
.no-scrollbar::-webkit-scrollbar {
   display: none;
}